@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Raleway:700');
* {
    transition: all .1s ease-in;
}
.body {
    font-family: 'Lato', sans-serif;
        font-family: 'Raleway', sans-serif;

    max-width: 1600px;}