.works {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    &__h2 {
        color: #222222;
        font-family: Raleway;
        font-size: 35px;
        font-weight: 700;
        line-height: 0;
        text-transform: uppercase;
        margin: 131px 0 84px;
    }
    &__line {
        width: 86px;
        height: 2px;
        background-color: #222222;
    }
}

.works-row {
    margin-top: 91px;
    &__col-1-3-1 {
        position: relative;
        height: 420px;
        margin-left: 0;
        margin-right: 15px;
        background-image: url(../image/kidden-planet.png);
    }
    &__col-1-3-2 {
        position: relative;
        height: 420px;
        margin-left: 0 15px;
        background-image: url(../image/jetindus-airline.png);
    }
    &__col-1-3-3 {
        position: relative;
        height: 420px;
        margin-left: 15px;
        margin-right: 0;
        background-image: url(../image/timplement.png);
    }
    &__block-hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 0;
    }
    &__h3-hover {
        color: #ffffff;
        font-family: Lato;
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 174px 0 38px;
    }
    &__svg-hover {
        fill: rgba(255, 255, 255, 0.9);
        width: 41px;
        height: 41px;
        &:hover {
            fill: #12ACEF
        }
    }
    &__link:hover &__block-hover {
        opacity: 1;
    }
}

.works-row-2 {
    margin: 80px 0 80px;
    &__col-1-3 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 60px;
        border: 3px solid #222222;
    }
    &__h3 {
    color: #222222;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0;
}
    &__link:hover &__col-1-3 {
        border-color: #12acef;
    }
    &__link:hover &__h3 {
        color: #12ACEF;
    }
}
