.banner-bg-img {
  height: 500px;
  width: 100%;
  background-image: url(../image/banner-bg-img.png);
  background-repeat: no-repeat;
  background-position: center; }

.banner {
  font-size: 0;
  max-width: 1170px;
  margin: 0 auto; }
  .banner__h2 {
    font-family: Lato;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-top: 163px;
    letter-spacing: 0.03em; }
  .banner__text {
    font-family: Lato;
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    margin: 4px 0 62px;
    letter-spacing: 0.013em; }
  .banner__link {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline; }
    .banner__link:hover {
      color: #12ACEF; }
  .banner__left {
    display: inline-block;
    text-align: left;
    color: #FFF;
    width: 50%;
    vertical-align: top; }
  .banner__right {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: middle; }
  .banner__image {
    padding: 75px 0 0 230px; }
