.contact-bg {
  height: 802px;
  width: 100%;
  background-image: url(../image/contact-bg-img.png);
  background-repeat: no-repeat;
  background-position: center; }

.contact {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center; }
  .contact__h2 {
    color: #FFF;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    padding: 102px 0 49px; }
  .contact__line {
    width: 86px;
    height: 2px;
    background-color: #FFF; }
  .contact__list {
    margin: 0;
    padding: 0; }
  .contact__social {
    display: inline-block;
    font-size: 25px;
    margin: 63px 11px; }
  .contact__link {
    color: #FFF; }
    .contact__link:hover {
      color: #12ACEF; }

.form__name, .form__email {
  display: inline-block;
  width: 50%;
  max-width: 300px;
  margin: 0 30px;
  border: 0;
  color: #FFF;
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  background: none;
  border-bottom: 1px solid #FFF;
  padding: 14px 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

.form__text {
  display: block;
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  margin-top: 101px;
  padding: 14px 26px;
  border: 0;
  color: #FFF;
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  background: none;
  border-bottom: 1px solid #FFF;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

.form__submit {
  display: block;
  margin: 0 auto;
  width: 183px;
  height: 60px;
  border: 2px solid #FFF;
  background: none;
  color: #FFF;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form__name:focus, .form__email:focus, .form__text:focus {
  border-color: #12ACEF; }

.form__submit:hover {
  border-color: #12ACEF;
  color: #12ACEF; }

.form__submit:focus {
  opacity: 0.7;
  outline: none; }
