.header {
  width: 1170px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  padding-top: 45px; }

.top {
  color: white;
  width: 100%;
  height: 900px;
  background-image: url(../image/top-bcg-img.png);
  background-position: center;
  background-repeat: no-repeat; }
  .top__block {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
    text-align: center; }
  .top__block {
    margin-top: 243px; }
  .top__button-svg {
    fill: #FFF;
    fill-opacity: 0.5;
    width: 92px;
    height: 92px;
    margin-top: 255px; }
  .top__h2 {
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 42px; }
  .top__line {
    width: 86px;
    height: 2px;
    background-color: #FFF; }
  .top__text {
    color: #FFF;
    font-family: Lato;
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
    margin: 0;
    margin-top: 36px;
    letter-spacing: 0.07em; }
  .top__link-svg:hover .top__button-svg {
    fill: #12ACEF; }

.nav {
  display: inline-block;
  font-size: 0;
  width: 70%;
  vertical-align: bottom;
  text-align: right; }
  .nav__link {
    color: #FFF;
    text-decoration: none; }
    .nav__link:hover {
      color: #12ACEF; }
  .nav__list {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding-right: 53px; }
    .nav__list:last-child {
      padding-right: 70px; }

.logo {
  display: inline-block;
  width: 30%;
  text-align: left; }
  .logo__text {
    display: inline-block;
    color: #FFF;
    font-family: Lato;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    margin-left: 5px; }
  .logo__svg {
    display: inline-block;
    width: 15px;
    height: 17px;
    fill: #12ACEF; }
  .logo__link:hover .logo__text-blue {
    color: #12ACEF; }
