.header {
  width: 1170px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  padding-top: 45px;
}
.nav {
  display: inline-block;
  font-size: 0;
  width: 70%;
  vertical-align: bottom;
  text-align: right;
  &__link {
    color: #fffefe;
    text-decoration: none;
    &:hover {
      color: #12acef;
    }
  }
  &__list {
    font-family: $lato;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding-right: 53px;
    &:last-child {
      padding-right: 70px;
    }
  }
}